<div class="thumbnail">
    <img src="http://placehold.it/800x300" alt="">
    <div>
        <h4 class="pull-right">{{product.price}}元</h4>
        <h4>{{product.title}}</h4>
        <p>{{product.desc}}</p>
    </div>
    <div>
        <p class="pull-right">{{comments.length}}</p>
        <p>
            星级:{{product.rating}}
        </p>
    </div>
</div>
<div class="well">
    <div class="row" *ngFor="let item of comments">
        <hr>
        <div class="col-md-12">
            <p>星级:{{item.rating}}</p>
            <span>{{item.user}}</span>
            <span class="pull-right">{{item.timestamp}}</span>
            <p>{{item.content}}</p>
        </div>
    </div>
</div>